<p id="notice"><%= notice %></p>

<h1>Asignatura Masters</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Curso</th>
      <th>Tipo</th>
      <th>Creditos</th>
      <th>Master</th>
      <th>Universidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignatura_masters.each do |asignatura_master| %>
      <tr>
        <td><%= asignatura_master.nombre %></td>
        <td><%= asignatura_master.curso %></td>
        <td><%= asignatura_master.tipo %></td>
        <td><%= asignatura_master.creditos %></td>
        <td><%= asignatura_master.master.nombre %></td>
        <td><%= asignatura_master.master.universidad.nombre %></td>
        <td><%= link_to 'Show', asignatura_master %></td>
        <td><%= link_to 'Edit', edit_asignatura_master_path(asignatura_master) %></td>
        <td><%= link_to 'Destroy', asignatura_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignatura Master', new_asignatura_master_path %>
